* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
}

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
}

.box,
.header {
    padding: 1em;
    width: 1000px;
    max-width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    background-color: white;
}

.header {
    padding: 0;
    display: flex;
    box-shadow: none;
    align-items: center;
    background: transparent;
    justify-content: space-between;
}

.box {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 20% minmax(auto, 1fr);
}

.menu {
    display: grid;
    grid-row-gap: .5em;
    align-content: start;
    grid-template-rows: 45px;
}

.link {
    line-height: 3;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: rgb(120, 120, 120);
    background-color: rgb(230, 230, 230);
}

.link:hover {
    background-color: rgb(220, 220, 220);
}

.view {
    display: flex;
    flex-direction: column;
}

.image {
    position: relative;
}

.image > img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.name,
.title,
.counter {
    color: #333333;
    font-weight: 200;
    font-family: 'Oswald', sans-serif;
}

.title {
    font-size: 2.5rem;
    margin-bottom: .35em;
}

.name {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

.counter {
    top: .35rem;
    right: .35rem;
    position: absolute;

    display: table;
    padding: .25em .4em;
    font-weight: 500;
    line-height: 1;
    font-size: 1.5em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: rgb(230, 57, 27);
    color: rgb(255, 255, 255);
}